@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

mat-card, mat-table {
  margin-top: 1vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

span.no-table-data {
  margin-top: 2vh;
  text-align: center;
  font-style: italic;
  color: #323232;
}

.item {
  padding: 0;
  width: 300px;
  height: 300px;
  /*background-color: grey;*/
  color: #fff;
  /*font-size: 50px;*/
  line-height: 300px;
  text-align: center;
}
