<div fxLayout="column">

  <mat-table fxFlex="grow" [dataSource]="dataSource">

    <ng-container matColumnDef="testId">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayout="row" fxFlex="10">Test Id</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayout="row" fxFlex="10">{{row.testId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayout="row" fxFlex="15">Name</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayout="row" fxFlex="15">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayout="row" fxFlex="65">Description</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayout="row" fxFlex="65">{{row.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="modifiedDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayout="row" fxFlex="10">Modified</mat-header-cell>
      <mat-cell *matCellDef="let row" fxLayout="row" fxFlex="10">{{row.modifiedDate | date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxLayout="row" fxFlex="5">Actions</mat-header-cell>
      <mat-cell class="table-columns" *matCellDef="let row" fxLayout="row" fxFlex="5">
        <button mat-icon-button color="accent" class="detailsButton" (click)="displayDetails(row)">
          <mat-icon>details</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons style="border: solid 1px red;"></mat-paginator>

  </mat-table>

  <div *ngIf="dataSource?.data.length == 0">
    <span class="no-table-data" fxFlex="grow">There is currently no test data to display</span>
  </div>

</div>
