<mat-toolbar color="primary" fxLayout="row" fxFlexAlign="start center">
  <button mat-icon-button (click)="drawer.toggle()" id="menuButton">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="image-wrapper" fxHide.md fxHide.sm fxHide.xs>
    <img src="assets/icons/icon-72x72.png"/>
  </div>
  <span fxHide.lt-md><a routerLink="/home">{{title}}</a></span>
  <span fxHide.gt-sm><a routerLink="/home">DIL</a></span>
  <div fxFlex="grow"></div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button fxFlex="none" routerLink="/search" matTooltip="Search" id="searchButton">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button fxFlex="none" (click)="syncQuestions()" matTooltip="Sync" id="syncButton">
      <mat-icon>sync</mat-icon>
    </button>
    <button mat-icon-button fxFlex="none" [matMenuTriggerFor]="moreMenu" matTooltip="More" id="moreButton">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="mongoDB"><mat-icon>storage</mat-icon><span>MongoDB</span></button>
      <button mat-menu-item [matMenuTriggerFor]="localDB"><mat-icon>sd_storage</mat-icon><span>Local Storage</span></button>
    </mat-menu>
    <mat-menu #mongoDB="matMenu">
      <button mat-menu-item (click)="seed(2)">
        <mat-icon>add</mat-icon>
        <span>Seed Tests</span>
      </button>
      <button mat-menu-item (click)="seed(1)">
        <mat-icon>add</mat-icon>
        <span>Seed Questions</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="seed(0)">
        <mat-icon color="warn">clear</mat-icon>
        <span>Clear MongoDB</span>
      </button>
    </mat-menu>
    <mat-menu #localDB="matMenu">
      <button mat-menu-item (click)="clear()">
        <mat-icon color="warn">clear</mat-icon>
        <span>Clear</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav #drawer [mode]="'push'" [fixedInViewport]="true" fixedTopGap="62">
    <mat-nav-list fxFlexAlign="end">
      <button mat-menu-item (click)="drawer.toggle()" routerLink="/home">
        <span>Home</span>
      </button>
      <button mat-menu-item (click)="drawer.toggle()" routerLink="/test">
        <span>Tests</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-elevation-z0">
    <section>
      <router-outlet></router-outlet>
    </section>
    <app-footer fxFlexAlign="center center"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
