mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  margin: 0;
  height: 100% !important;
}

mat-sidenav {
  width: 20vh;
}

div.image-wrapper {
  height: 100px;
  width: 100px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-left: 0;
}

div > img {
  width: 58px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

mat-nav-list > div {
  padding-top: 0.5vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh
}

span {
  margin-left: 6px;
}

span > a {
  text-decoration: none;
  color: whitesmoke;
}
