<div gdColumns.gt-md="33vw 33vw 33vw" gdColumns.md="50vw 50vw" gdColumns.lt-md="100vw">
  <mat-card>
    <mat-card-header color="primary">
      <mat-card-title>
        Disconnected, Intermittent, & Limited
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Disconnected, Intermittent, & Limited (DIL) bandwidth environments occur in places of poor internet connectivity
        such as in an elevator,
        tunnel, or inside of a US Navy ship.
      </p>
      <p>
        DIL environments usually render web browsers useless as no information can be exchanged with the corresponding
        web application server. This usually
        leads to loss of data and a poor user experience.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header color="primary">
      <mat-card-title>
        Progressive Web Application
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Progressive web applications (PWAs) load like regular web pages or websites but provides functionality such as working offline,
        push notifications, and device hardware access traditionally available only to native applications.
      </p>
      <p>
        PWAs combine the flexibility of the web with the experience of a native application. They are meant to be reliable, fast, and engaging.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header color="primary">
      <mat-card-title>
        IndexedDB
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        IndexedDB is an Application Programming Interface (API) for accessing client-side storage that is inherent in modern web browsers.
      </p>
      <p>
        The amount of data capable of being stored is based on the hard drive size of on the client machine. The global limit is calculated as
        50% of free disk space and a Quota manager tracks disk space usage and enacts an origin eviction policy when this global limit is reached.
      </p>
    </mat-card-content>
  </mat-card>
</div>
