<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
  <ul class="carousel-inner" #carousel>
    <li *ngFor="let item of items;" class="carousel-item">
      <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
    </li>
  </ul>
</section>
<div *ngIf="showControls" style="margin-top: 1em">
  <button mat-raised-button (click)="next()">Next</button>
  <button mat-raised-button (click)="prev()">Prev</button>
</div>
