<div *ngFor="let question of questions; let i = index" style="margin: 10px">
  <p class="mat-h3">{{question.description}}</p>
  <span class="mat-h5">{{question.modifiedDate}}</span>
  <br/>
  <mat-form-field>
    <input matInput type="text" placeholder="Enter Your Answer" [value]="question.answer" (blur)="focusOutRow(question, $event.target.value)"/>
  </mat-form-field>
  <mat-divider></mat-divider>
</div>
